<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../controllers/subcribe.js"></script>
</head>
<body ng-controller="subcribe" ng-init="session()">
  <form >
    Nome: <input type="text" ng-model="name"><br>
    idade: <input type="number" ng-model="age" value=""><br>
    cpf: <input type="number" ng-model="cpf" value=""><br>
    <button type="submit" ng-click="submit()">submit</button>
  </form>
  <a href="../../index.html"><button>Voltar</button></a>

  <button type="submit" ng-click="showSub()">showSub</button>

  <h1>{{ nome }}</h1><h1>{{ idade }}</h1><h1>{{ CPF }}</h1>
  <button ng-click="delete()">delete</button>

</body>
</html>
