<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../controllers/suport.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"> 

    <!-------------------Audio para recebimento de menssagens------------->
    <audio id="audio">
        <source src="../../audio/notification.wav" type="audio/wav"></source>
        <source src="../../audio/notification.ogg" type="audio/ogg"></source>        
        <source src="../../audio/notification.mp3" type="audio/mpeg"></source>
    </audio>
    <!-------------------------------------------------------------------->
</head>
<body ng-controller="suportChat" ng-init="session()">

    <!--------------------Area dos chats--------------->
    <div class="row">
        <div class="clients"></div>
    </div>

</body>
</html>